---
import getPublishedPosts from '@utilities/getPublishedPosts'
import MainI18n from '@components/MainI18n.astro'
import FormattedDate from '@components/FormattedDate.astro'
import { getRelativePostPath } from '@utilities/getPostPath'
import { getPostDescription } from '@utilities/getPageDescription'
import BlogHeader from "@components/blog-header.astro";
import Blockquote from '@components/typography/Blockquote.astro'
import { Badge } from '@components/ui/badge'

const { frontmatter } = Astro.props,
  title = frontmatter.title,
  collection = frontmatter.collection

const posts = await getPublishedPosts(Astro.currentLocale, collection)
---

<MainI18n {frontmatter} collection="pages">
  <main id="main">
    <header class="prose">
      <h1>{title}</h1>
      <slot />
    </header>
    <section class="container py-10">
      <BlogHeader title="Blog" />
  
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-9 md:gap-y-11 lg:gap-y-16 lg:gap-x-8"
      >
 
      {
        posts.map((post) => (
        <article class="group space-y-4">
            <a
              class="flex h-52 group-hover:-translate-y-2 group-hover:shadow-xl transition duration-300"
              href={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}
            >
              <img
                class="w-full h-full object-cover rounded-xl overflow-hidden"
                width={400}
                height={200}
                src={post.data.previewImage}
                alt="descriptive text"
                transition:name={"img-" + post.slug}
              /></a>
              <a
              href={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}>
              <h2 class="font-heading font-bold text-xl md:text-2xl leading-snug line-clamp-3" transition:name={"title-" + post.slug} >{post.data.title}</h2>
              </a>
              <div class="flex items-center justify-between">
              <a href={`/blog/category/${post.data.category}`}>
              <Badge
        radius="md"
        className="capitalize"
        transition:name={"category-" + post.slug}
      >
        {post.data.category}
      </Badge>
    </a>
              <span class="font-medium text-muted-foreground">
                <FormattedDate date={post.data.pubDate} />
              </span>
              </div>
          </article>
        ))
      }

      </div>
    </section>
  </main>
</MainI18n>
